@import "bootstrap/scss/bootstrap";
@import url("./_fonts.scss");
@import url("./header.scss");
@import url("./main.scss");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 3;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  --bs-font-sans-serif: "Roboto", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
